body {
    font-family: 'Lato', sans-serif;
    background-color: #181a1b;
    color: white;
}

h6 {
    margin: 1em .5em;
}

hr {
    margin: 20px auto;
    border-top-width: 1px;
    border-top-color: white;
    border-top-style: solid;
    width: 65%;
}

.card-body hr {
    margin: 20px auto;
    border-top-width: 1px;
    border-top-color: black;
    border-top-style: solid;
    width: 85%;
}

div.stats-header,
div.card {
    margin-bottom: 25px;
    color: black;
}

div.card.card-header {
    background-color: lightslategray;
}

div.card.card-body {
    background-color: #f9f9f9;
}

div.text-end.small {
    margin: 0 0 20px 0;
}

table {
    margin-bottom: 0 !important;
}

table.dataTable tbody tr.even {
    background-color: #8631b4;
}

table.dataTable tbody tr.odd {
    background-color: #2e44da;
}

table.dataTable tbody tr td {
    color: white !important;
}

table a {
    color: white;
    text-decoration: none;
}

table a:hover {
    color: white;
    text-decoration: underline;
}

table div.card.card-body {
    background-color: transparent;
    border: none;
    color: white;
    margin-bottom: 0;
}

h1.display-4.text-center {
    padding: 15px 0 0 0;
}

div.table-overflow {
    max-height: 400px;
    overflow: auto;
}

tr.ctcRed>td,
tr.ctcOrange>td,
tr.ctcPurple>td,
tr.ctcBlack>td,
tr.ctcGray>td,
tr.ctcBrown>td {
    color: white !important;
}

tr.ctcBlue {
    background-color: #89b8fa;
}

tr.ctcGreen {
    background-color: #ace039;
}

tr.ctcRed {
    background-color: #d71018;
}

tr.ctcBrown {
    background-color: #a52a2a;
}

tr.ctcPink {
    background-color: #ffc0cb;
}

tr.ctcOrange {
    background-color: #df7129;
}

tr.ctcYellow {
    background-color: #f1cf20;
}

tr.ctcPurple {
    background-color: #c637ea;
}

tr.ctcBlack {
    background-color: black;
}

tr.ctcWhite {
    background-color: white;
}

tr.ctcGray {
    background-color: #5f5f5f;
}

.accordion-button {
    font-size: 22px;
}

.accordion-subheader {
    padding: 10px;
    background-color: darkslategray;
    color: white !important;
}