body {
    font-family: 'Lato', sans-serif;
    background-color: #181a1b;
    color: white;
}

.card-body {
    background-color: navy;
}

a:link,
a:active,
a:visited {
    color: white;
}

a:hover {
    color: cyan;
}